<section class="container">
<h1>List of Users</h1>
 <% @users.each do |user| %>
 <a href='/users/<%=user.id%>'  class="blist-group-item list-group-item-action list-group-item-light border card mb-2 btn btn-danger">
    <%= render user%>
 </a>
<% end %>
<section>