<div class="mb-2">
   <div class="card-body m-3 w-75">
        <h2 class="card-title"><%= post.title %><h2>
      <h4 class="card-text "><%=post.text%></h4>
      <h6 class="card-text d-flex  justify-content-end ">
        <small class="text-body-secondary">Comments : <%=post.comments_counter%> Likes : <%=post.likes_counter%>
        </small>
      </h6>
    </div>
</div>