 <section class="container mt-5">
  <div class="blist-group-item list-group-item-light border card mb-2">
    <%= render @post%>
  </div>
    <% if @post.comments_counter !=0%>
    <div class="card mb-5">
      <div class="card-body ">
        <% @post.comments.each do |comment| %>
        <h5><%=comment.user.name%> : <%=comment.text%> </h5>
        <% end %>
        <% end %>
      </div>
    </div>
 </section>
